.*.swp
docker/Dockerfile
.vscode
prom/build/*
promhttp/build/*
promtest/build/*
tty.gif
ttyrecord
_CPack_Packages/
*deb
*tar.gz
*vgcore*
*.o
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
prom/Makefile
cmake_install.cmake
install_manifest.txt
*.so
promhttp/Makefile
